.container {
    color:black;
    background-color: #E76F51;
    flex-direction: column;
}

.books img{
    width: 170px;
    height: 200px;
    justify-self: center;
    transform: scale();
    object-fit: contain;
}

.books {
    font-size: small;
    float: left;
    width: fit-content;
    transform: scale(.9);
    margin-bottom: 0;
    margin:0;
}

.book {
    background-color: #2A9D8F;
    width: fit-content;
    outline: 3px solid black;
    outline-offset: 1px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    background-color:#E76F51;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

.container2 *{
    margin:0;
}