
<div class="container2">
        <!-- We can put anything here like {{item.dateLent}} -->
        <div class="books">
        <ul class="book" *ngFor="let book of booksInCart">
            <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" />
            <li>isbn: {{book.isbn}}</li>
            <li>Title: {{book.title}}</li>
            <li>Publisher: {{book.publisher}}</li>
            <li>Language: {{book.language}}</li>
            <li>Pages: {{book.pages}}</li>
            <li>AuthorName: {{book.authorName}}</li>
            <li>AvalableCopies: {{book.avalableCopies}}</li>
        </ul>
        <span *ngIf="booksInCart.length > 0">
            <button (click)="onCheckout()">checkout books</button>
        </span>
        <span *ngIf="booksInCart.length == 0" class="message">
            Cart is empty. please follow this link to start adding <a routerLink="/home">books</a>
        </span>
    </div>
</div> 