<div class="container">
    <div *ngFor="let item of myOrders" class="books" style="margin-bottom: 50px;">
        <!-- We can put anything here like {{item.dateLent}} -->
        <ul class="book" *ngFor="let book of item.books">
            <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" />
            <li>isbn: {{book.isbn}}</li>
            <li>Title: {{book.title}}</li>
            <li>Publisher: {{book.publisher}}</li>
            <li>Language: {{book.language}}</li>
            <li>Pages: {{book.pages}}</li>
            <li>AuthorName: {{book.authorName}}</li>
            <li>AvalableCopies: {{book.avalableCopies}}</li>
            <button (click)="onClickReturn(book,item.orderId)">Return this book</button>
        </ul>
        
    </div>
</div> 